@inherits OptimizationWidgetBase

<div style="height: 100%; width: 100%; overflow: auto;">
    @if (ViewModel != null)
    {
        <ResultsFilter ViewModel="ViewModel" />
    }
    else
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Text" Dense="true">
            No optimization data available.
        </MudAlert>
    }
</div>
