@page "/bots/{BotId}"
@inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<ObservableReaderWriterItemVM<string, BotEntity, BotVM>>

@using LionFire.Mvvm
@using LionFire.Trading.Automation
@using MudBlazor.Components

<h3>Bot @BotId</h3>

@if (ViewModel?.Value != null)
{
    <MudTextField @bind-Value="ViewModel.Value.Name" />
    <MudTextField @bind-Value="ViewModel.Value.Comments" />
}

@code {
    [Parameter]
    public string? BotId { get; set; }

    protected override Task OnParametersSetAsync()
    {
        ArgumentNullException.ThrowIfNull(ViewModel);

        ViewModel.Id = BotId;
        // _ = ViewModel.Value;
        return base.OnParametersSetAsync();
    }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
        return base.OnAfterRenderAsync(firstRender);
    }

}