@page "/bots"
@inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<BotsVM>

@using LionFire.Reactive.Persistence
@using LionFire.Trading.Automation
@using Microsoft.Extensions.DependencyInjection

<h6>Bots for @WorkspaceId</h6>

@* Reader="WorkspaceServices?.GetService<BotsProvider>()?.Reader" *@
    @* Reader="ViewModel!.ReaderWriter ?? ViewModel!.Reader" *@
<AsyncVMSourceCacheView @ref=ItemsEditor
    Services="WorkspaceServices"
    TKey="string"
    TValue="BotEntity"
    TValueVM="BotVM">
</AsyncVMSourceCacheView>

@code {
    [CascadingParameter(Name = "WorkspaceServices")]
    public IServiceProvider? WorkspaceServices { get; set; }

    [CascadingParameter(Name = "WorkspaceId")]
    public string? WorkspaceId { get; set; }

    // BotsProvider? BotsProvider { get; set; }

    AsyncVMSourceCacheView<string, BotEntity, BotVM>? ItemsEditor { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        // BotsProvider = WorkspaceServices?.GetService<BotsProvider>();

        // ViewModel!.Reader = WorkspaceServices?.GetService<IObservableReader<string, BotEntity>>();
    }
}
