@page "/bots"
@* @inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<BotsVM> *@

    @using LionFire.Trading.Automation

<h6>Bots for @Workspace</h6>

@* <KeyedCollectionView @ref=ItemsEditor
                     Items="ViewModel!.Items"
                     TKey="string"
                     TValue="BotEntity"
                     TValueVM="BotVM">
</KeyedCollectionView>
 *@

@code {
    [CascadingParameter]
    public string? Workspace { get; set; }
    KeyedCollectionView<string, BotEntity, BotVM>
    ? ItemsEditor
    { get; set; }
}
