@page "/bots"
@inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<BotsVM>

@using LionFire.Reactive.Persistence
    @using LionFire.Trading.Automation
@using Microsoft.Extensions.DependencyInjection

<h6>Bots for @WorkspaceId</h6>

@* <KeyedCollectionView @ref=ItemsEditor
                     Items="ViewModel!.Items"
                     TKey="string"
                     TValue="BotEntity"
                     TValueVM="BotVM">
</KeyedCollectionView> *@


@code {
    [CascadingParameter(Name = "WorkspaceServices")]
    public IServiceProvider? WorkspaceServices { get; set; }

    [CascadingParameter(Name = "WorkspaceId")]
    public string? WorkspaceId { get; set; }

    KeyedCollectionView<string, BotEntity, BotVM>? ItemsEditor { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        ViewModel!.Reader = WorkspaceServices?.GetService<IObservableReader<string, BotEntity>>();
    }
}
