@page "/bots"
@* @inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<BotsVM> *@

    @using LionFire.Trading.Automation

<h6>Bots for @WorkspaceId</h6>

@* <KeyedCollectionView @ref=ItemsEditor
                     Items="ViewModel!.Items"
                     TKey="string"
                     TValue="BotEntity"
                     TValueVM="BotVM">
</KeyedCollectionView>
 *@

@code {
    [CascadingParameter(Name = "WorkspaceId")]
    public string? WorkspaceId { get; set; }

    KeyedCollectionView<string, BotEntity, BotVM>? ItemsEditor { get; set; }
}
