@page "/"
@using Microsoft.Extensions.Options

@inject IOptionsMonitor<BacktestOptions> BacktestOptionsMonitor

<PageTitle>Status</PageTitle>

<MudGrid>

    <MudItem sm="3">

        <MudSimpleTable>
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    Backtests Dir
                </td>
                <td>
                    @BacktestOptionsMonitor.CurrentValue.Dir
                </td>
            </tr>
        </MudSimpleTable>
    </MudItem>

</MudGrid>
