@page "/portfolios"

@inject NavigationManager NavigationManager

@using LionFire.Mvvm
@using LionFire.Trading.Automation
@using LionFire.Trading.Portfolios

@* @inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<ObservableDataViewVM<string, Portfolio>> *@

<div class="pa-6">
    <ObservableDataView @ref=ItemsEditor
                        DataServiceProvider="WorkspaceServices"
                        TKey="string"
                        TValue="Portfolio2"
                        TValueVM="Portfolio2VM"
                        AllowedEditModes=EditMode.All
                        ReadOnly=false>
        @* RowClick="@((_,e)=> {
if(!Editiing){NavigationManager.NavigateTo($"/portfolios/{e.Item.Key}"); })" *@
        <Columns>
            <HierarchyColumn T="Portfolio2VM" />

            <PropertyColumn T="Portfolio2VM" TProperty="string" Property="x => x.Key" Title="Key" Editable="false" />

            <PropertyColumn T="Portfolio2VM" TProperty="string" Property="x => x.Value.Name" Title="Name" />
            <PropertyColumn T="Portfolio2VM" TProperty="string" Property="x => x.Value.Comment" Title="Comment" />
        </Columns>
    </ObservableDataView>
</div>

@code {
    // ENH idea: standardize on AmbientServices, and have ObservableDataView use it.
    [CascadingParameter(Name = "WorkspaceServices")]
    public IServiceProvider? WorkspaceServices { get; set; }

    [CascadingParameter(Name = "WorkspaceId")]
    public string? WorkspaceId { get; set; }

    ObservableDataView<string, Portfolio2, Portfolio2VM>? ItemsEditor { get; set; }

    // public class PortfoliosVM : ObservableDataViewVM<string, Portfolio>
    // //: AsyncVMSourceCacheVM<string, BotEntity, BotVM>
    // //, IInjectable<Func<TKey, TValue, TValueVM>>
    // {
    //     public PortfoliosVM()
    //     {
    //     }

    //     //public IObservableReaderWriter<string, BotEntity>? Entities { get; set; }
    // }

    public class PortfolioVM : KeyValueVM<string, Portfolio>
    {
        public PortfolioVM(string key, Portfolio value) : base(key, value)
        {
        }

        #region Event Handlers

        public ValueTask OnStart()
        {
            return ValueTask.CompletedTask;
        }
        public ValueTask OnStop()
        {
            return ValueTask.CompletedTask;
        }

        #endregion
    }

}
