@page "/bots/{BotId}"
@using LionFire.Mvvm
@using LionFire.Trading.Automation
@using LionFire.Reactive.Persistence
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Logging
@using MudBlazor.Components
@using ReactiveUI

<div class="pa-4">

    <h3>Bot @BotId</h3>

    @if (VM?.Value != null)
    {
        <MudTextField @bind-Value="VM.Value.Name" Label="Name" />
        <MudTextField @bind-Value="VM.Value.Comments" Label="Comments" />
        <MudTextField @bind-Value="VM.Value.Description" Label="Description" />

        <MudButton OnClick="Save" Color="Color.Primary">Save</MudButton>
    }
    else if (VM != null)
    {
        <MudProgressCircular Indeterminate="true" />
        <p>Loading bot...</p>
    }
    else
    {
        <MudAlert Severity="Severity.Error">WorkspaceServices not available</MudAlert>
    }
</div>


